body {
  font-family: Arial;
  color: #7EB7EF;
  padding: 20px;
  background-image: url("https://img.edilportale.com/product-thumbs/b_grid-texturae-292389-rel7e0d0e18.jpg");
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 80px;
    margin-right: 150px;
}

.header {
  padding: 60px;
  text-align: center;
  background-color: #322F2F;
  color: #7EB7EF;
  font-size: 40px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  height: 400px;
}

.left {
  width: 74%;
}

.right {
  width: 24%
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 500px;
  background-color: #202020;
}

li a {
  display: block;
  color: #7EB7EF;
  padding: 8px 16px;
  text-decoration:none;
}

li a:hover {
  background-color: #202020;
  color: #7EB7EF;
}

hr {
  border: 10px #0f0f0f;
  border-radius: 5px;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: ##0f0f0f;
  color: white;
  text-align: center;
}
    
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
